<!--<div ng-controller='UserController as mainCtrl'>-->
		<div ng-show = 'userCtrl.person.name'>
					<div>First Name: {{userCtrl.person.name}}</div>
					<div>Login: {{userCtrl.person.login}}</div>
					<div>Id: {{userCtrl.person.id}}</div>
					<div>
						<img ng-src="http://www.gravatar.com/avatar/{{userCtrl.person.gravatar_id}}" title="{{userCtrl.person.name}}"></img>
					</div>
					<select ng-model='userCtrl.repoSortOrder'>
						<option value = '+name'>Name</option>
						<option value = '-stargazers_count'>Stars</option>
						<option value = '+language'>Language</option>
					</select>
		</div>
		
		<table class="table table-striped" ng-show = 'userCtrl.person.name'>
  			<thead>
  				<tr>
  					<th>Name</th>
  					<th>Stars<span class="glyphicon glyphicon-star" aria-hidden="true"></span></th>
  					<th>Language</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr ng-repeat = "repo in userCtrl.repos | orderBy: userCtrl.repoSortOrder">
  					<td>{{repo.name}}</td>
  					<td>{{repo.stargazers_count | number}}</td>
  					<td>{{repo.language}}</td>
  				</tr>
  			</tbody>
		</table>
<!--</div>-->